h1{
    text-align:center;
    color:red;
}
div{
    text-align:center;
    background-color:rgb(0, 229, 255);
}
body{
    background-color:lightgreen;
}
p{
    text-align:center;
    color:blue;
}
footer{
    text-align:center;
    color:green;
    background-color:lightcyan;
}
form{
    text-align:center;
    color:purple;
}
a{
    color:brown;
    background-color:yellow;
}
a:hover{
    background-color:cornsilk;
}